#cs1300-gallery {
  background-color: rgb(245, 198, 239);
}

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
img {
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}

.gallery-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-item {
  padding: 25px;
}
